<% content_for :js do %>
    <script>
        $(document).ready(function () {
            $('.slideshow-container').slick({
                arrows: false,
                dots: false,
                autoplay: true,
                autoplaySpeed: 6000,
                focusOnSelect: true,
                fade: true
            });

            twemoji.parse(document.body);
        });
    </script>
<% end %>

<div class="main about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 thumbnail" >
                <div class="slideshow-container">
                    <img alt="Me" src="<%= image_path('ckg-1.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-2.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-3.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-4.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-5.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-6.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-7.jpg') %>">
                    <img alt="Me" src="<%= image_path('ckg-8.jpg') %>">
                </div>
            </div>
            <div class="col-md-6">
                <h2>Hello. My name is <span class="highlight">Charles Gancarz</span></h2>
                <p>London, UK 🇬🇧</p>
                <p>Traveller • Dancer • Entrepreneur • Hi-tech enthusiast • Sceptic • Software engineer • Born-again
                    minimalist
                </p>
            </div>
        </div>
    </div>
</div>