<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,500,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//twemoji.maxcdn.com/twemoji.min.js"></script>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header">
      <div class="container">
          <div class="row">
              <div class="menu col-xs-8">
                  <ul>
                      <li><%= link_to "Welcome", root_path %></li>
                      <li><%= link_to "Portfolio", portfolio_path %></li>
                      <li><%= link_to "About", about_path %></li>
                      <li><a target="_blank" href="https://medium.com/@CharlesIC">Blog</a></li>
                      <li><%= link_to "Contact", contact_path %></li>
                  </ul>
              </div>
              <div class="name col-xs-4">
                  <h1>Charles Gancarz</h1>
              </div>
          </div>
      </div>
  </div>

  <%= yield %>

  <div class="footer">
    <div class="container">
        <%= render 'shared/social_media', invisible: hide_social_media? %>
        <p> 2018 Charles Gancarz</p>
    </div>
  </div>
</body>
</html>
